<nav class="navbar">
  {{#if name}}
    <div><a href="/users/purchase">Home</a></div>
  {{else}}
    <div><a href="/">Home</a></div>
  {{/if}}
  <div class="navbar_right">
    {{#if user}}
      <div><p>{{user}}</p></div>
      <div><a href="/logout/admin">Logout</a></div>
    {{else if name}}
      <div><p>{{name}}</p></div>
      <div><a href="/logout/user">Logout</a></div>
    {{else}}
      <div><a href="/signup/admin">Signup</a></div>
      <div><a href="/">Login</a></div>
      <div><a href="/signup/user">User Signup</a></div>
      <div><a href="/login/user">User Login</a></div>
    {{/if}}
    <div><a href="/about">About</a></div>
  </div>
</nav>