<h2 class="books_heading">Books</h2>

<form action="/books/search" method="post" class="search_form">
  <div><label for="Book_Title">Search By Name</label>
    <input
      type="text"
      name="Book_Title"
      value="{{formData.Book_Title}}"
    /></div>
  <div><label for="sort">Sort By Category</label>
    <select name="Category_Type" id="">
      {{#each categories}}
        <option
          name="Category_Type"
          value="{{this.id}}"
          {{ifequals this.id ../formData.Category_Type " selected" ""}}
        >
          {{this.category_name}}</option>
      {{/each}}
      <option value=""></option>
    </select></div>
  <button type="submit">Find</button>
</form>
<div class="button_container">
  <a href="/books/addbook"><button class="create_book_btn">Create a Book</button></a>
</div>
<table class="books_table">
  <tr>
    <th>Name</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Category</th>
    <th>Year of Publish</th>
    <th>Price</th>
    <th>Language</th>
    <th>Total Copies</th>
    <th>Available copies</th>
    <th>Availability</th>
    <th>Cover Image</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    {{#each fetchedData}}
      <tr>
        <td>{{this.dataValues.Book_Title}}</td>
        <td>{{this.dataValues.ISBN}}</td>
        <td>{{this.dataValues.Author}}</td>
        <td>{{this.dataValues.category.category_name}}</td>
        <td>{{this.dataValues.Publication_Year}}</td>
        <td>{{this.dataValues.Price}}</td>
        <td>{{this.dataValues.Language}}</td>
        <td>{{this.dataValues.No_Of_Copies_Actual}}</td>
        <td>{{this.dataValues.No_Of_Copies_Current}}</td>
        <td>{{#if this.dataValues.Available}}
            In stock
          {{else}}
            out of stock
          {{/if}}
        </td>
        <td><img
            src="/{{this.File_Path}}"
            alt="Book Cover"
            class="table_book_cover"
          /></td>
        <td>
          <a href="/books/editbook/{{this.dataValues.id}}">
            <button class="book_edit_btn">
              Edit
            </button>
          </a>
        </td>
        <td>
          <a href="/books/delete/{{this.dataValues.id}}">
            <button class="book_edit_btn">
              Delete
            </button>
          </a>
        </td>
        
      </tr>

    {{/each}}

  </tr>
</table>

