{{#if success}}
  <div class="success_msg"><p>{{success}}</p></div>
{{/if}}
{{#if error}}
  <div class="err_msg"><p>{{error}}</p></div>
{{/if}}
<div class="error_msg_from_fetch"></div>
<div class="success_msg_from_fetch"></div>
{{#if cart}}

<h1 class="cart_heading">Cart</h1>
<table class="cart_table">
  <tr>
    <th>Sl.No</th>
    <th>Cover</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Apply Coupon</th>
    <th>Unit Price</th>
    <th>Price</th>
    <th>Payable Amount</th>
    <th>Discount</th>
    <th>Delete</th>
  </tr>
  {{#each books}}
    <tr>
      <td>
        <p>{{indexPlusOne @index}}</p>
        </td>
        <td>
            <img class="cart_image" src="/{{this.File_Path}}" alt="Book Cover" />
        </td>
        <td>
            <p>{{this.Book_Title}}</p>
        </td>
        <td>
            <div class="cart_quantity">
                {{!-- <a href="/users/cart/add/{{this.id}}/add"> --}}
                  <button class="changeQuantityBtn" onclick="changeQuantity('add')" data-id="{{this.id}}">
                    +
                  </button>
                  {{!-- </a> --}}
                    <p class="quantity" data-id="{{this.id}}">{{findQuantity ../cart this.id}}</p>
                    {{!-- {{findQuantity ../cart this.id}} --}}
                {{!-- <a href="/users/cart/add/{{this.id}}/reduce"> --}}
                  <button class="changeQuantityBtn" onclick="changeQuantity('reduce')" data-id="{{this.id}}">
                  -
                  </button>
                  {{!-- </a> --}}
                
            </div>
        </td>
        <td><button class="coupon_apply_btn" onclick="fetchCoupons()" data-categoryId="{{this.category.id}}" data-id="{{this.id}}">Apply Coupon</button></td>
        <td>       
            <p class="unit_price" data-id="{{this.id}}">{{findUnitPrice ../cart this.id }}</p>             
        </td>
        <td>       
            <p class="price" data-id="{{this.id}}">{{findPrice ../cart this.id }}</p>             
        </td>
        <td>
            <p class="payable_amount" data-id="{{this.id}}">{{findPayablePrice ../cart this.id}}</p>
        </td>
        <td>
            <p class="discount" data-id="{{this.id}}">{{findDiscount ../cart this.id}}</p>
        </td>
         <div class="coupon_popup" data-key="{{this.id}}">
          <h4 class="coupon_apply_form_header">Apply Coupon for {{this.Book_Title}}</h4>
          <div class="coupon_apply_form_container">
            <form  class="coupon_apply_form" data-id="{{this.id}}">
            
              <label for="coupon">select Coupon</label>
              <div class="coupon_apply_options_wrapper">
              <select name="Coupon" class="coupon_select" data-key="{{this.id}}">
   
              </select>
              <button id="coupon_apply_btn" type="submit">Apply</button>
              </div>
            </form>
              <button onclick="removeCoupon()" id="coupon_remove_btn" data-id="{{this.id}}" >Remove</button>
            </div>
        </div>
        <td>
            <a href="/users/cart/{{this.id}}/delete"><button class="cart_item_delete_btn">Delete</button></a>
        </td>
      </div>
    </tr>
  {{/each}}
  {{#if cart}}
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="/users/cart/delete"><button class="cart_clear_btn">Clear Cart</button></a></td>
    <td><a href="/users/cart/checkout"><button class="cart_checkout_btn">Checkout</button></a></td>
</tr>

 
{{/if}}
</table>
{{else}}
<div class="cart_empty_div">
    <h1 class="cart_empty_header">Your cart is empty</h1>
    <h1 class="cart_empty_link"><a href="/users/purchase">shop book</a></h1>
</div>
{{/if}}
